.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
}

#blank {
    height: 15vh;
}

.container h2 {
    margin-bottom: 10px;
}

.input {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.input input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 10px;
}

.update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.update-profile-btn {
    all:unset;
    background-color: rgb(233,198,129);
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.update-profile-btn:hover {
    cursor: pointer;
}

.container {
    border: 1px solid #d9d9d9;
    padding: 25px;
    width: 25vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}